@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom keyframes */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 2s ease-in;
}

/* Reusable component styles */
.nav-underline {
  @apply relative z-[1] font-normal transition-all duration-300 ease-out;
}

.nav-underline::after {
  content: "";
  @apply absolute bottom-0 left-0 h-[2px] w-0 rounded-[16px] bg-violet-700 transition-all duration-300 ease-out;
  z-index: -1;
}

.nav-underline:hover::after {
  width: 100%;
}
